.navbar {
  background-color: #6633ff;
}

.navbar-link {
  margin-right: 30px;
  color: #fff;
  font-size: large;
}

.logo {
  margin-left: 30px;

}

.banner {
  margin-top: 70px;
  height: 400px;
}

.col-left h1{
  margin-top: 170px;
  font-size: 35pt;
  font-weight: 900;
}

.section {
  margin: 80px;
}